<tr id="<%= plural %>_<%%= <%= model_name %>.id %>">
<% klass.columns.each do |col| -%>
  <td><%%= <%= model_name -%>.<%= col.name.downcase %> %></td>
<% end -%>
  <td>
    <a href="#/show/<%%= <%= model_name -%>.id %>">
      <img src="/images/sammy_crud/eye.png" alt="show" width="16" height="16" border="0"/>
    </a>
    <a href="#/edit/<%%= <%= model_name -%>.id %>">
      <img src="/images/sammy_crud/edit.png" alt="edit" width="16" height="16" border="0"/>
    </a>
    <a href="#/delete/<%%= <%= model_name -%>.id %>" onclick="return confirm('Are you sure?');">
      <img src="/images/sammy_crud/delete.png" alt="delete" width="16" height="16" border="0"/>
    </a>
  </td>
</tr>